<title>Ansible Application</title>
<body>
  <br />
  <br />
  <H1>
  <?php
  Print "Hello, World! I am the web server {{ inventory_hostname }}";
  ?>
  </H1>
<br />
<H1>
<?php
echo  "List of Databases: <br />";
        {% for host in groups['db'] %}
                $link = mysqli_connect('{{ hostvars[host]['inventory_hostname'] }}', '{{ hostvars[host].dbuser }}', '{{ hostvars[host].dbpass }}') or die(mysqli_connect_error($link));
        {% endfor %}
        $res = mysqli_query($link, "SHOW DATABASES;");
        while ($row = mysqli_fetch_assoc($res)) {
                echo $row['Database'] . "\n";
        }
?>
</H1>
List dbservers : 
        {% for host in groups['db'] %}
              echo '{{ hostvars[host]['inventory_hostname'] }}'
        {% endfor %}
</body>
</html>

